
.dropdown {
    display: block;
    position: absolute;
    left: 50%;
}
.dropdown-arrow{
    position: absolute;

}
.dropdown-arrow::after{
    content: '';
	display: block;
    position: absolute;
    border-left: 15px solid white;
	border-right: 15px solid white ;
	margin-left: -15px;
	left: 50%;
    border-bottom: 15px solid blue;
	top: -15px;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: blue;
    min-width: 160px;
    top: 30px;
}
.dropdown-content a {
    color: black;
    padding: 12px ; 
    display: block;  
}
.dropdown:hover .dropdown-content.dropdown-arrow {display: block;}
